<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_url_scheme</key>
	<string>&lt;&lt; enter your app launch URL scheme here &gt;&gt; </string>
	<key>security_application_group</key>
	<string>&lt;&lt; enter your iOS security application group here&gt;&gt; </string>
	<key>widget_type</key>
	<string>2</string>
</dict>
</plist>
