<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notification_prefix</key>
	<string>New video: </string>
	<key>project_key</key>
	<string>&lt;&lt; enter your project key here &gt;&gt;</string>
	<key>api_endpoint</key>
	<string>&lt;&lt; enter your API endpoint here &gt;&gt;</string>
</dict>
</plist>
